.filterItem{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.filterItem__name{
    font-size: 2rem ;
}
.active{
    display: inline-block;
    height: 25px;
    width: 12px;
    border-bottom: 8px solid grey;
    border-right: 8px solid grey;
    transform: rotate(45deg);
}

.inactive{
    display: none;
}